<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./error_messages"); %>
    <% if(isAuth) { %>
      <h1><%= title %></h1>
      <form action="/" method="post">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder="何をする?"/>
        <input type="submit" value="追加"/>
      </form>
    <% } else { %>
      <ul>
        <% for(let todo of todos) { %>
        <li><span><%= todo.content %></span></li>
        <% } %>
      </ul>
      <h1>Welcome to the TodoApp</h1>
      <a href="/signup">Sign up now!</a>
    <% } %>
  </body>
</html>